@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EmployeeManager.Webapi.Pages.LoginModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <style>
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        html,
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        h1 {
            margin-top: 0;
        }

        .formcontainer {
            height: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .formcontent {
            border: 3px solid gray;
            padding: 1em;
            border-radius: 5px;
        }

        .formrow {
            display: flex;
        }

        .formlabel {
            width: 5em;
        }

        ul {
            margin: 0;
        }
    </style>
</head>

<body>
    <div class="formcontainer">
        <div class="formcontent">
            <div class="header">
                <h1>Custos Mitarbeiterverwaltungssystem</h1>
            </div>
            <form method="post">
                <div class="form">
                    <div class="formrow">
                        <div class="formlabel">Username:</div>
                        <div class="formcontrol"><input type="text" asp-for="Username" /></div>
                    </div>
                    <div class="formrow">
                        <div class="formlabel">Passwort:</div>
                        <div class="formcontrol"><input type="password" asp-for="Password" /></div>
                    </div>
                    <div class="formrow">
                        <p>Users: @string.Join(", ", Model.Users)</p>
                    </div>
                    <div class="formrow">
                        <div asp-validation-summary=All></div>
                    </div>
                    <div class="formrow">
                        <button type="submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
